:root{
    --font-primary:'Big Shoulders Display',sans-serif;
    --font-secondary:'Lexend Deca',sans-serif;

    --primary-weight: 700;
    --secondary-weight: 400;

    --first-color:hsl(31, 77%, 52%);
    --second-color:hsl(184, 100%, 22%);
    --third-color:hsl(179, 100%, 13%);

    --para-color:hsla(0, 0%, 100%, 0.75);
    --base-color:hsl(0, 0%, 95%);
}
*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-size: 15px;
    background-color: #ffff;
}

.container{
    display: flex;
    flex-direction: column;
}

.card1,
.card2,
.card3{
    padding: 3rem;
}

.card-heading{
    font-family: var(--font-primary);
    color: var(--base-color);
    font-weight: var(--primary-weight);
}

.info{
    font-family: var(--font-secondary);
    color: var(--para-color);
    font-weight: var(--secondary-weight);
}

.orange{
    text-decoration: none;
    color: var(--first-color);
}
.olive{
    text-decoration: none;
    color: var(--second-color);
}
.green{
    text-decoration: none;
    color: var(--third-color);
}

.card1{
    background-color: var(--first-color);
}
.card2{
    background-color: var(--second-color);
}
.card3{
    background-color: var(--third-color);
}